body{
    background-color: rgb(180, 211, 238);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
}

.container1{
    max-width: 600px;
    margin: 0 auto;
    padding: 0 32px;
}

.textalign{
    text-align: center;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn,.submit{
    background-color: aquamarine;
    color: black;
    padding: 8px 20px;
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 5px;
}

form{
    padding: 20px;
    box-shadow: 0px 0px 10px white;
    background-color: white;
    margin-top: 50px;
}

.formInput{
    width: 100%;
    margin-bottom: 20px;
    height: 20px;
}

